
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    text-align: center;
}

.title {
    padding-bottom: 10px;
    font-weight: bold;
}

.subtitle {
    font-weight: bolder;
    padding-bottom: 20px;
} 

img {
    width: 20px;
}

.social-login {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 100px;
    margin-left: 100px;
    
}

.google-btn {
    width: 240px;
    height: 40px;
   
}

.btn-text {
    display: flex;
    flex-direction: row;
    padding-right: 15px; 
    padding-top: 5px;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fb-btn {
    width: 50px;
    height: 40px;
}